/*
TASK:
Style a button using CSS.

Requirements:
- Background color
- Padding
- Border radius
- Hover effect

You can imagine this button is used in a website.
*/

button {
  /* TODO: Add styles here */
}
