/*
TASK: Dashboard Layout

Requirements:
- Use Grid + Flexbox
- Include sidebar and main content
- Fully responsive
*/

.dashboard {
  /* TODO: Layout structure */
}

.sidebar {
  /* TODO: Sidebar styles */
}

.main {
  /* TODO: Main content styles */
}
