/*
TASK:
Style a button using CSS.

Requirements:
- Background color
- Padding
- Border radius
- Hover effect

You can imagine this button is used in a website.
*/

button {
  /* TODO: Add styles here */
  background-color: #d65656;
  /* light red background */
  color: white;
  /* White text */
  padding: 15px 32px;
  /* Padding */
  text-align: center;
  /* Centered text */
  text-decoration: none;
  /* No underline */
  display: inline-block;
  /* Inline-block */
  font-size: 16px;
  /* Font size */
  border: none;
  /* No border */
  border-radius: 12px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer cursor on hover */
}

button:hover {
  background-color: #dc1e14;
  /* Darker red on hover */
}