/*
TASK: Flexbox Layout

Requirements:
- Create a responsive layout using Flexbox
- Items should wrap on smaller screens
*/

.container {
  /* TODO: Flexbox layout */
}

.item {
  /* Example items */
}
